CI_ENVIRONMENT=development

base_url=http://localhost:8000/
index_page=
uri_protocol=REQUEST_URI

DATABASE_HOSTNAME=host.docker.internal
DATABASE_PORT=3306
DATABASE_DATABASE=hepl_payroll
DATABASE_USERNAME=root
DATABASE_PASSWORD=bala@2701

log_threshold=1
log_path=application/logs/

sess_driver=files
sess_cookie_name=ci_session
sess_match_ip=FALSE
sess_match_useragent=TRUE
sess_time_to_update=300

upload_max_size=10485760
allowed_file_types=jpg,jpeg,png,pdf,doc,docx

email_protocol=smtp
email_smtp_host=smtp.gmail.com
email_smtp_port=587
email_smtp_user=dummy@example.com
email_smtp_pass=dummy
email_from=noreply@example.com